body{ margin: 0; padding: 0; border: 0;}
.main{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.main-left{
    width: 70%;
    background-color: black;
}
.main-l-top{
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
}
.user{
    width: 200px;
    height: 125px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 10px;
    position: relative;
}
.user img{
    width: 50%;

}
.user>span{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    justify-content: end;
    background-color: rgba(226, 226, 226, 0.5);
    border-radius: 5px;
    padding: 3px;
}

/* -----------------------탑--------------------------------- */
.main-l-video{
    width: 100%;
    height: 75%;
}
.video-box{
    padding: 10px;
    border-radius: 3px;
}
#video{
    width: 100%;
    max-height: 600px;
}

/* -----------------------가운데--------------------------------- */

.main-l-bottom{
    width: 100%;
    height: 10%;
    background-color: black;

}
.main-l-bottom div{
    width: 90%;
    margin: 0 5%;
}


/* -----------------------바텀--------------------------------- */



/* ------------------오른쪽---------- */
.main-right{
    width: 30%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-mode{
    margin: 10px 0px 0px 10px;
}

.text-chat-box{
    margin: 5px 10px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow-y: hidden;
}

#chat-area{
    width: 100%;
    height: 80%;
    border-radius:  5px 5px 0 0;
    margin-bottom: 0px;
    padding-bottom: 15px;
    background-color: black;
    overflow-y: scroll;
}
.pm-15{
    padding-bottom: 20px;
    background-color: black;
    border-radius: 0 0 5px 5px ;
}
#chat-area::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
#chat-area div{
    color: white;
}
/* -----------------chat---------------- */

.chat-team-box{
    margin: 40px 10px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.team{
    width: 100%;
    font-size: 19px;
    color: white;
    display: flex;
    margin-bottom: 15px;
}
.team span{
    margin-right: 5px;
}
.team .img-box{
    width: 32px;
    height: 32px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 30px;
}
.team .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.count-all{
    color: white;
    font-size: 20px;
    margin-bottom: 18px;
}